* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
/* cart container start */
.cart-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item {
  width: 70%;
  border: 5px solid red;
  display: flex;
  justify-content: space-between;
}
.cart-img {
  width: 50%;
}
.cart-img img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.cart-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-price {
  width: 100%;
  text-align: center;
}
.item-options {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#item-qty {
  margin: 0 5px;
}
.item-btn {
  width: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}
/* cart container end */
