@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/* header start */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  width: 100%;
  height: 90px;
  padding: 1rem;
}
.head-logo .logo-header {
  font-family: "Italianno", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 2.5rem;
  color: black;
}
/* header end */
/* cart container start */
.cart-container {
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cart-item {
  width: 45%;
  height: 200px;
  border: 5px solid black;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.cart-img {
  width: 50%;
}
.cart-img img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.cart-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-price {
  width: 100%;
  text-align: center;
}
.item-options {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-qty {
  margin: 0 5px;
}
.item-btn {
  width: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}
/* cart container end */

/* cart total start */
.cart-total-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#cart-total {
  font-family: "Italianno", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 2.5rem;
}

.checkout-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.checkout-button:hover {
  background-color: #218838;
}
/* cart total end */

@media screen and (max-width: 720px) {
  .cart-item {
    width: 90%;
  }
}
